.app-navbar_gender {
    margin: 50px 30px;

    &__wrapper{
        display: flex;
        justify-content: center;
    }

    &__intro{
        position: relative;
        padding-left: 35px;
    }


    &__img-gender{
        width: 100%;
        height: 100%;
    }

    &__text-gender{
        position: absolute;
        top: 41%;
        right: 32%;
        color: white;
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }



}